<a href="https://colab.research.google.com/github/iasmimsilveira/Estudos_dados/blob/main/cidades_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [23]:
dt_frame = pd.read_csv('https://raw.githubusercontent.com/datasets/world-cities/master/data/world-cities.csv', sep=',')
dt_frame

                   name               country           subcountry  geonameid
0          les Escaldes               Andorra   Escaldes-Engordany    3040051
1      Andorra la Vella               Andorra     Andorra la Vella    3041563
2        Umm al Qaywayn  United Arab Emirates       Umm al Qaywayn     290594
3        Ras al-Khaimah  United Arab Emirates      Raʼs al Khaymah     291074
4          Khawr Fakkān  United Arab Emirates         Ash Shāriqah     291696
...                 ...                   ...                  ...        ...
23013          Bulawayo              Zimbabwe             Bulawayo     894701
23014           Bindura              Zimbabwe  Mashonaland Central     895061
23015        Beitbridge              Zimbabwe   Matabeleland South     895269
23016           Epworth              Zimbabwe               Harare    1085510
23017       Chitungwiza              Zimbabwe               Harare    1106542

[23018 rows x 4 columns]

Qual país tem mais cidades?

In [24]:
dt_frame[dt_frame['country'] == 'Brazil'].count()

name          1200
country       1200
subcountry    1200
geonameid     1200
dtype: int64

In [25]:
dt_frame.groupby(['country'])['name'].count().sort_values(ascending=False)

country
United States    2699
India            2443
Brazil           1200
Russia           1093
Germany          1055
                 ...
Gibraltar           1
Greenland           1
Grenada             1
Guernsey            1
Seychelles          1
Name: name, Length: 244, dtype: int64

Qual país tem mais subpaíses?

In [26]:
dt_frame.groupby(['country',  'subcountry'])['name'].count()

country      subcountry
Afghanistan  Badakhshan            1
             Badghis               1
             Balkh                 3
             Bāmīān                1
             Farah                 1
                                  ..
Zimbabwe     Mashonaland West      6
             Masvingo              3
             Matabeleland North    2
             Matabeleland South    1
             Midlands              5
Name: name, Length: 2658, dtype: int64

In [27]:
dt_frame[(dt_frame['country'] == 'Brazil')].groupby(['country',  'subcountry'])['name'].count()

country  subcountry
Brazil   Acre                     4
         Alagoas                 21
         Amapá                    2
         Amazonas                14
         Bahia                   97
         Ceará                   59
         Espírito Santo          20
         Federal District         1
         Goiás                   43
         Maranhão                40
         Mato Grosso             13
         Mato Grosso do Sul      20
         Minas Gerais           154
         Paraná                  71
         Paraíba                 22
         Pará                    38
         Pernambuco              65
         Piauí                   17
         Rio Grande do Norte     18
         Rio Grande do Sul       96
         Rio de Janeiro          56
         Rondônia                10
         Roraima                  1
         Santa Catarina          56
         Sergipe                 14
         São Paulo              245
         Tocantins                3
Name: name, dtype: int64

In [28]:
dt_frame

                   name               country           subcountry  geonameid
0          les Escaldes               Andorra   Escaldes-Engordany    3040051
1      Andorra la Vella               Andorra     Andorra la Vella    3041563
2        Umm al Qaywayn  United Arab Emirates       Umm al Qaywayn     290594
3        Ras al-Khaimah  United Arab Emirates      Raʼs al Khaymah     291074
4          Khawr Fakkān  United Arab Emirates         Ash Shāriqah     291696
...                 ...                   ...                  ...        ...
23013          Bulawayo              Zimbabwe             Bulawayo     894701
23014           Bindura              Zimbabwe  Mashonaland Central     895061
23015        Beitbridge              Zimbabwe   Matabeleland South     895269
23016           Epworth              Zimbabwe               Harare    1085510
23017       Chitungwiza              Zimbabwe               Harare    1106542

[23018 rows x 4 columns]

In [22]:
dt_frame.head().T

                             0  ...                     4
name              les Escaldes  ...          Khawr Fakkān
country                Andorra  ...  United Arab Emirates
subcountry  Escaldes-Engordany  ...          Ash Shāriqah
geonameid              3040051  ...                291696

[4 rows x 5 columns]

In [29]:
dt_frame.geonameid

0        3040051
1        3041563
2         290594
3         291074
4         291696
          ...
23013     894701
23014     895061
23015     895269
23016    1085510
23017    1106542
Name: geonameid, Length: 23018, dtype: int64