<a href="https://colab.research.google.com/github/iasmimsilveira/Estudos_dados/blob/main/cidades_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
dt_frame = pd.read_csv('https://raw.githubusercontent.com/datasets/world-cities/master/data/world-cities.csv', sep=',')
dt_frame

Qual país tem mais cidades?

In [ ]:
dt_frame[dt_frame['country'] == 'Brazil'].count()

In [ ]:
dt_frame.groupby(['country'])['name'].count().sort_values(ascending=False)

Qual país tem mais subpaíses?

In [ ]:
dt_frame.groupby(['country',  'subcountry'])['name'].count()

In [ ]:
dt_frame[(dt_frame['country'] == 'Brazil')].groupby(['country',  'subcountry'])['name'].count()

In [ ]:
dt_frame

In [22]:
dt_frame.head().T

                             0  ...                     4
name              les Escaldes  ...          Khawr Fakkān
country                Andorra  ...  United Arab Emirates
subcountry  Escaldes-Engordany  ...          Ash Shāriqah
geonameid              3040051  ...                291696

[4 rows x 5 columns]